.lcas-carousel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lcas-carousel-viewport {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lcas-carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

.lcas-carousel-item {
    flex: 0 0 100%;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lcas-carousel-item a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lcas-carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.lcas-indicator {
    display: none;
    /* Initially hide the indicator */
}

.lcas-indicator img {
    width: 50px;
    height: 50px;
    margin: auto;
    display: block;
}

.lcas-carousel-control {
    width: 80px;
    height: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
    z-index: 100;
    -webkit-user-select: none;
    user-select: none;
}

.lcas-prev {
    left: 0px;
    display: none;
    /* Initially hide the previous button */
    justify-content: left;
    padding-left: 15px;
}

.lcas-next {
    right: 0px;
    justify-content: right;
    padding-right: 15px;
}